translatorib-plugin-mock/src/main/resources/wsdl/Translator_opentrad_v2.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://inteco.minhap.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://inteco.minhap.gov/" name="Translator_v2Service">
<wsp:Policy wsu:Id="Translator_v2PortBinding_MTOM_Policy-Translator_v2PortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://inteco.minhap.gov/" schemaLocation="https://traductorbal.imaxin.com/TranslatorService_v2/Translator_v2?xsd=1"/>
</xsd:schema>
</types>
<message name="translate_string">
<part name="parameters" element="tns:translate_string"/>
</message>
<message name="translate_stringResponse">
<part name="parameters" element="tns:translate_stringResponse"/>
</message>
<message name="SOAPException">
<part name="fault" element="tns:SOAPException"/>
</message>
<message name="translate_url">
<part name="parameters" element="tns:translate_url"/>
</message>
<message name="translate_urlResponse">
<part name="parameters" element="tns:translate_urlResponse"/>
</message>
<message name="translate_file">
<part name="parameters" element="tns:translate_file"/>
</message>
<message name="translate_fileResponse">
<part name="parameters" element="tns:translate_fileResponse"/>
</message>
<message name="translate_file_byte">
<part name="parameters" element="tns:translate_file_byte"/>
</message>
<message name="translate_file_byteResponse">
<part name="parameters" element="tns:translate_file_byteResponse"/>
</message>
<portType name="Translator_v2">
<operation name="translate_string">
<input wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_stringRequest" message="tns:translate_string"/>
<output wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_stringResponse" message="tns:translate_stringResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_string/Fault/SOAPException"/>
</operation>
<operation name="translate_url">
<input wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_urlRequest" message="tns:translate_url"/>
<output wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_urlResponse" message="tns:translate_urlResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_url/Fault/SOAPException"/>
</operation>
<operation name="translate_file">
<input wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_fileRequest" message="tns:translate_file"/>
<output wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_fileResponse" message="tns:translate_fileResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_file/Fault/SOAPException"/>
</operation>
<operation name="translate_file_byte">
<input wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_file_byteRequest" message="tns:translate_file_byte"/>
<output wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_file_byteResponse" message="tns:translate_file_byteResponse"/>
<fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://inteco.minhap.gov/Translator_v2/translate_file_byte/Fault/SOAPException"/>
</operation>
</portType>
<binding name="Translator_v2PortBinding" type="tns:Translator_v2">
<wsp:PolicyReference URI="#Translator_v2PortBinding_MTOM_Policy-Translator_v2PortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="translate_string">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="translate_url">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="translate_file">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
<operation name="translate_file_byte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Translator_v2Service">
<port name="Translator_v2Port" binding="tns:Translator_v2PortBinding">
<soap:address location="https://traductorbal.imaxin.com/TranslatorService_v2/Translator_v2"/>
</port>
</service>
</definitions>